body{
	margin: 0px;
}

/*****Header*****/

#body-header{
	height: 65vh;
	background-image: url(header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	opacity: 0.85;
	
}

#body-header nav ul{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.horizontal-list{
	list-style: none;
	padding-left: 0px;	
	margin: 0px;
}

.horizontal-list li{
	display: inline-block;
	margin: 2rem 4rem 0rem 4rem;
}

.horizontal-list li a{
	color: white;
	text-decoration: none;	
}

.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 1px solid white;
}

.nav-menu li a{
	transition: color 0.5s, border-bottom 4s;
}

.text-center{
	text-align: center;
}

.mb75px{
	margin-bottom: 75px;
}

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}

.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section:nth-child(2n){
	background-color: lightgrey;
}

section:nth-child(2n + 1){
	background-color: white;
}
/*****ABOUT SECTION*****/

#name-social{
	margin-top: 16vh;
}

#name{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	color: white;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.social-icons li a i{
	padding-left: 0px;
    font-size: 1rem;
    color: black;
    margin: -8px;
    transition: color 0.8s, box-shadow 0.8s;
	border-radius: 50%;
}

.social-icons li a i:hover{
	color: hsl(207deg 14% 17%);
	border: 1px solid hsl(207deg 14% 17%);
	padding: 8px;
	box-sizing: content-box;
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.2);
	
}

.social-icons li a img{
	height: 1rem;
	width: 1rem;
    transition: color 0.8s, box-shadow 0.8s;
	border-radius: 50%;
}

.social-icons li a img:hover{
	color: hsl(207deg 14% 17%);
	margin: 0px;
	padding: 4px;
	border: 1px solid hsl(207deg 14% 17%);
	box-sizing: content-box;
	box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.2);}

#about{
	height: auto;
	width: 100%;
	text-align: center;
	position: relative;
}

#my-img{
	height: 12rem;
	width: 12rem;
	margin: auto;
	margin-top: -17vh;
}

#my-img img{
	height: 100%;
	width: 100%;
	border: 0.1rem solid white;
	border-radius: 50%;
	box-shadow: 0px 0px 8px 2px lightgrey;

}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: center;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
}

/*****SKILLS SECTION*****/
.skills-display{
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}

.skills-progress{
	width: 7rem;
	height: 1.4rem;
	background-color: lightgrey;
	border-radius: 0.7rem;
	margin-right: 4rem;
	margin-bottom: 4rem;
	box-shadow: 0px 0px 15px 1px #707070;

}

.skills-progress>div{
	border-radius: 20px 0px 0px 20px;
}

.skills-name span{
	color: white;
	font-size: 1rem;
	margin-left: 0.4px;
	padding-left: 0.4rem;
}

/*****Skills BG Colour*****/

.bg-java{
	background-color: #2424fd;
}

.bg-python{
	background-color: green;
}

.bg-numpy{
	background-color: #af0c0c;
}

.bg-html{
	background-color: #b015cb;
}

.bg-css{
	background-color: #ffa41f;
}

.bg-git{
	background-color: #f11b64;
}

/*****Percentage class*****/

.ninety-percent{
	width: 90%;
	height: inherit;
}

.eighty-five-percent{
	width: 85%;
	height: inherit;
}

.eighty-percent{
	width: 80%;
	height: inherit;
}

.seventy-percent{
	width: 70%;
	height: inherit;
}

.sixty-five-percent{
	width: 65%;
	height: inherit;
}